
p {
    color: black;
    text-align: right ;
  }
h1 {color: blue; text-align: right; text-size-adjust: 50px;}
h2 {text-size-adjust: 50px; color:green;}
p { font-style: normal;
  font-family: Georgia, 'Times New Roman', Times, serif;
font-style: oblique; font-size: 15px;}
body {background-color: antiquewhite;} 

